<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Functional Testing" parallel="methods" thread-count="1" verbose="0">
    <test name="autoframework">
        <parameter name="p1" value="test"/>
        <classes>
            <class name="autoframework.src.test.TestCase_Sample">
                <methods>
                    <include name="Test_WithDataDriven"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
